Repository chrislyons/orpheus-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clang-format -i

docs: update ORP and CLAUDE documentation for Phase 3 completion
  CLAUDE.md
  docs/ORP/README.md
Due: prettier --write

fix: correct WASM loader and resolve linting errors
  docs/ORP/ORP068 Implementation Plan (v2.0).md
  docs/ORP/ORP069 OCC Enhancements.md
  docs/ORP/ORP072 AES67 Network Audio Driver.md
  packages/contract/src/frequency-validator.test.ts
  packages/engine-wasm/src/loader.ts
  packages/shmui/apps/www/components/orpheus-track-manager.tsx
Due: eslint --fix, prettier --write

fix: resolve security vulnerabilities and update OSV scanner
  .github/workflows/security-audit.yml
  package.json
  packages/shmui/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update documentation stack for Phase 3 completion
  .claude/README.md
Due: prettier --write

fix: use commit SHA for OSV scanner action to ensure resolution
  .github/workflows/security-audit.yml
Due: prettier --write

ci: use released tag for google/osv-scanner-action (v1.10.0) to fix missing action
  .github/workflows/security-audit.yml
Due: prettier --write

ci: use google/osv-scanner-action@v1 (replace unavailable v1.10.0)
  .github/workflows/security-audit.yml
Due: prettier --write

ci: fix OSV scanner and dependency review action failures
  .github/workflows/security-audit.yml
Due: prettier --write

ci: remove automated security audit workflow
  .github/workflows/security-audit.yml
Due: prettier --write

docs: update CLAUDE.md to reflect removal of automated security audits
  CLAUDE.md
Due: prettier --write

ci: update Node version to 20 to satisfy package engines.node requirements
  .github/workflows/ci-pipeline.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: document Node.js 20+ requirement for JavaScript workspace
  CLAUDE.md
Due: prettier --write

ci: fix Node version to 20 and skip puppeteer downloads
  .github/workflows/ci-pipeline.yml
  .github/workflows/interim-ci.yml
Due: prettier --write

ci: fix CI status check, clang-format violations, and native driver linker errors
  .github/workflows/ci-pipeline.yml
  include/orpheus/routing_matrix.h
  include/orpheus/transport_controller.h
  packages/engine-native/CMakeLists.txt
Due: prettier --write, clang-format -i

fix(engine-native): link M2 real-time infrastructure libraries
  packages/engine-native/CMakeLists.txt
Due: none

ci: enable M2 real-time infrastructure builds in all workflows
  .github/workflows/ci-pipeline.yml
  .github/workflows/interim-ci.yml
  packages/engine-native/package.json
Due: prettier --write

ci(typescript-build): use build:ts to skip native driver build
  .github/workflows/ci-pipeline.yml
  package.json
Due: prettier --write

fix(coreaudio): critical sample rate mismatch causing slow playback
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/AudioSettingsDialog.h
  docs/ORP/ORP073.md
  include/orpheus/audio_driver.h
  scripts/relaunch-occ.sh
  src/core/audio_io/audio_file_reader_libsndfile.cpp
  src/core/routing/routing_matrix.cpp
  src/core/transport/transport_controller.cpp
  src/core/transport/transport_controller.h
  src/platform/audio_drivers/coreaudio/coreaudio_driver.cpp
Due: prettier --write, clang-format -i

feat(occ): add drag & drop, color picker, stop-others mode, and enhanced play icon
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
Due: clang-format -i

docs(occ): add OCC032 - UI enhancements documentation
  apps/clip-composer/docs/OCC/OCC032.md
Due: prettier --write

feat(occ): add drag-to-reorder clips and lighter pink color
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.h
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/Session/SessionManager.cpp
  apps/clip-composer/Source/Session/SessionManager.h
Due: clang-format -i

feat(occ): reduce drag hold time to 240ms
  apps/clip-composer/Source/ClipGrid/ClipButton.h
Due: clang-format -i

feat(occ): increase all font sizes 20%, add text wrapping, fix new session audio
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/MainComponent.cpp
Due: clang-format -i

fix(occ): load clips into audio engine when loading sessions
  apps/clip-composer/Source/MainComponent.cpp
Due: clang-format -i

feat(occ): enhance UI and add clip edit dialog foundation
  .claude/README.md
  .claude/agents/orpheus-adapter-integrator.json
  .claude/agents/orpheus-audio-safety-checker.json
  .claude/agents/orpheus-build-validator.json
  .claude/agents/orpheus-determinism-tester.json
  .claude/agents/orpheus-occ-requirements-tracker.json
  .claude/skills/README.md
  .claude/skills/manifest.json
  .claude/skills/project/orpheus-doc-gen/SKILL.md
  .claude/skills/project/orpheus-doc-gen/templates/doxygen_class.template
  .claude/skills/project/orpheus-doc-gen/templates/doxygen_function.template
  .claude/skills/project/rt-safety-auditor/SKILL.md
  .claude/skills/project/rt-safety-auditor/examples/proper_atomic_usage.cpp
  .claude/skills/project/rt-safety-auditor/examples/safe_audio_callback.cpp
  .claude/skills/project/rt-safety-auditor/examples/violation_heap_alloc.cpp
  .claude/skills/project/rt-safety-auditor/examples/violation_mutex.cpp
  .claude/skills/project/rt-safety-auditor/reference/allowed_patterns.md
  .claude/skills/project/rt-safety-auditor/reference/banned_functions.md
  .claude/skills/project/rt-safety-auditor/reference/rt_constraints.md
  .claude/skills/project/rt-safety-auditor/scripts/check_rt_safety.sh
  .claude/skills/project/test-result-analyzer/SKILL.md
  .claude/skills/project/test-result-analyzer/examples/asan_report.txt
  .claude/skills/project/test-result-analyzer/examples/ctest_output.txt
  .claude/skills/project/test-result-analyzer/reference/sanitizer_formats.md
  .claude/skills/project/test-result-analyzer/reference/test_formats.md
  .claude/skills/shared/ci-troubleshooter/SKILL.md
  .claude/skills/shared/ci-troubleshooter/config.json
  .claude/skills/shared/test-analyzer/SKILL.md
  .claude/skills/shared/test-analyzer/config.json
  .claude/skills/validate.sh
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.h
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: prettier --write, clang-format -i

feat(occ): complete Phases 2 & 3 of Edit Dialog - trim points and fades
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

feat(occ): implement waveform rendering with real-time trim markers
  apps/clip-composer/CMakeLists.txt
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/Session/SessionManager.cpp
  apps/clip-composer/Source/Session/SessionManager.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
  apps/clip-composer/Source/UI/WaveformDisplay.h
Due: clang-format -i

docs(occ): add OCC033 - waveform rendering implementation report
  apps/clip-composer/docs/OCC/OCC033.md
Due: prettier --write

build: allow CMAKE_OSX_ARCHITECTURES override for universal binaries
  CMakeLists.txt
Due: none

docs(occ): update all documentation for v0.1.0-alpha release
  apps/clip-composer/.claude/README.md
  apps/clip-composer/.claude/agents/README.md
  apps/clip-composer/.claude/agents/build-and-test.md
  apps/clip-composer/.claude/agents/release-builder.md
  apps/clip-composer/.claude/agents/session-validator.md
  apps/clip-composer/.claude/agents/waveform-optimization.md
  apps/clip-composer/.claude/implementation_progress.md
  apps/clip-composer/.claude/skills/README.md
  apps/clip-composer/.claude/skills/build-utils.sh
  apps/clip-composer/.claude/skills/validate.sh
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/README.md
Due: prettier --write

feat(occ): implement latency optimizations and fix double-click behavior
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/Transport/TransportControls.cpp
  apps/clip-composer/Source/Transport/TransportControls.h
Due: clang-format -i

feat(occ): implement Cue Buss architecture for Edit Dialog preview
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/docs/OCC/OCC039.md
Due: prettier --write, clang-format -i

feat(occ): refactor PreviewPlayer to use Cue Buss architecture (Phase 3)
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/PreviewPlayer.h
Due: clang-format -i

feat(occ): implement SpotOn-inspired Edit Dialog UX improvements
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/docs/OCC/OCC040.md
Due: prettier --write, clang-format -i

docs(occ): create OCC041 Edit Dialog bug fixes sprint
  apps/clip-composer/docs/OCC/OCC041.md
  apps/clip-composer/launch.sh
Due: prettier --write

docs(occ): add OCC042 Edit Dialog Bug Fixes sprint summary
  apps/clip-composer/docs/OCC/OCC042.md
Due: prettier --write

fix(occ): complete Font API migration in WaveformDisplay
  CLAUDE.md
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
Due: prettier --write, clang-format -i

fix(occ): complete JUCE 8.x Font API migration in ClipButton and TabSwitcher
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/UI/TabSwitcher.cpp
Due: clang-format -i

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clang-format -i: any of: *.{cpp,h,hpp}
