Repository chrislyons/orpheus-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clang-format -i

fix(occ): resolve JUCE Font/FontOptions deprecation errors in ClipButton
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

fix(occ): restore right-click menu on empty buttons and fix Ctrl+Opt+Cmd+Click
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

fix(occ): remove all double-click behavior from clip buttons
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.h
Due: clang-format -i

fix(occ): remove onDoubleClick wiring in ClipGrid
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
Due: clang-format -i

feat(occ): redesign status indicators with icon grid and move PLAY icon
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

fix(occ): improve Clip Edit Dialog spacing and fix Shift nudge bug + enhance clip button icons
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: clang-format -i

refactor(occ): simplify STOP OTHERS icon to red hexagon with white border
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

fix(occ): rotate STOP OTHERS hexagon to proper stop sign orientation
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

feat(occ): real-time color updates + Ctrl+Opt+Cmd+Click edit dialog shortcut
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.h
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

fix(occ): implement multi-tab transport isolation (critical bug)
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
Due: clang-format -i

docs(occ): consolidate documentation - remove duplicates, update v0.2.0 status
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/CLAUDE.md.backup-20251030
  apps/clip-composer/PROGRESS.md
  apps/clip-composer/README.md
  apps/clip-composer/docs/occ/CLAUDE.md
  apps/clip-composer/docs/occ/INDEX.md
  apps/clip-composer/docs/occ/PROGRESS.md
  apps/clip-composer/docs/occ/README.md
  apps/clip-composer/docs/occ/archive/implementation_progress.md
Due: prettier --write

docs(occ): consolidate documentation - remove duplicates, update v0.2.0 status (#128)
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/CLAUDE.md.backup-20251030
  apps/clip-composer/PROGRESS.md
  apps/clip-composer/README.md
  apps/clip-composer/docs/occ/CLAUDE.md
  apps/clip-composer/docs/occ/INDEX.md
  apps/clip-composer/docs/occ/PROGRESS.md
  apps/clip-composer/docs/occ/README.md
  apps/clip-composer/docs/occ/archive/implementation_progress.md
Due: prettier --write

docs: add command reference page, remove sprint validation scripts
  CLAUDE.md
  docs/repo-commands.html
  packages/shmui/apps/www/scripts/validate-phase1.sh
  scripts/update-commands-page.sh
  scripts/validate-phase0.sh
  scripts/validate-phase1.sh
  scripts/validate-phase2.sh
  scripts/validate-phase3.sh
  scripts/validate-phase4.sh
Due: prettier --write

fix: remove shmui references from workspace config and validation scripts
  docs/ORP/ORP098.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/lib/phase-validation.sh
Due: prettier --write

docs: rename ORP098 to include descriptive title
  docs/ORP/ORP098 Shmui Rebuild.md
Due: prettier --write

docs: update repo-commands.html with collapsible sections
  docs/repo-commands.html
Due: none

docs: fix unclosed div tag in repo-commands.html
  docs/repo-commands.html
Due: none

docs(commands): scale fonts down by 25% and minimize vertical spacing
  docs/repo-commands.html
Due: none

docs: create parallel development tracks for SDK (ORP099) and OCC (OCC102)
  .claude/archive/progress.md
  apps/clip-composer/docs/OCC/OCC102.md
  docs/ORP/ORP099.md
Due: prettier --write

chore: update husky hooks and archive old progress tracking
  .claude/README.md
  .husky/commit-msg
  .husky/pre-commit
Due: prettier --write

docs: rename OCC and ORP documentation files to include descriptive titles
  .claude/skills/project/orpheus-doc-gen/SKILL.md
  apps/clip-composer/docs/OCC/OCC099 Testing Strategy.md
  apps/clip-composer/docs/OCC/OCC100 Performance Requirements and Optimization.md
  apps/clip-composer/docs/OCC/OCC101 Troubleshooting Guide.md
  apps/clip-composer/docs/OCC/OCC102 OCC Track v020 Release & v021 Planning.md
  apps/clip-composer/docs/OCC/OCC103 QA v020 Results.md
  docs/ORP/ORP097 SDK Transport Fade Bug Fixes for OCC v020.md
  docs/ORP/ORP099 SDK Track Phase 4 Completion & Testing.md
Due: prettier --write

docs: add descriptive titles to ORP/OCC documentation files
  apps/clip-composer/docs/OCC/OCC102.md
  apps/clip-composer/docs/occ/INDEX.md
  apps/clip-composer/docs/occ/OCC099.md
  apps/clip-composer/docs/occ/OCC100.md
  apps/clip-composer/docs/occ/OCC101.md
  docs/ORP/ORP086 Feature Request - Seamless Clip Restart API.md
  docs/ORP/ORP087 Seamless Clip Restart API — Sprint Completion Report.md
  docs/ORP/ORP088 Edit Law Enforcement & Position Tracking.md
  docs/ORP/ORP089 Sprint Completion Report.md
  docs/ORP/ORP090 Sprint Summary + Loop Mode Verification.md
  docs/ORP/ORP091 SDK OUT Point Enforcement Not Working.md
  docs/ORP/ORP092 Fix - Non-Loop Clips Illegal Loop-to-Zero Bug.md
  docs/ORP/ORP093 Sprint - Trim Point Boundary Enforcement.md
  docs/ORP/ORP094 Fix - Trim Point Boundary Enforcement.md
  docs/ORP/ORP095 Hot Buffer Size Change Implementation.md
  docs/ORP/ORP096 Fix Use-After-Free Bug.md
  docs/ORP/ORP097.md
  docs/ORP/ORP099.md
  docs/ORP/ORP100 Unit Tests Implementation Report.md
Due: prettier --write

docs: fix ORP097 and ORP099 titles
  docs/ORP/ORP097 SDK Transport:Fade Bug Fixes for OCC v020.md
  docs/ORP/ORP099 SDK Track Phase 4 Completion and Testing.md
Due: prettier --write

test(transport): implement ORP099 Tasks 1.1-1.3 unit tests
  tests/transport/CMakeLists.txt
  tests/transport/clip_gain_test.cpp
  tests/transport/clip_loop_test.cpp
  tests/transport/clip_metadata_test.cpp
Due: clang-format -i

test(transport): enhance 16-clip integration test with metadata (ORP099 Task 1.4)
  tests/transport/multi_clip_stress_test.cpp
Due: clang-format -i

docs: add SDK v1.0 migration guide, changelog, and README updates (ORP099 Tasks 3.2,3.4,3.5)
  CHANGELOG.md
  README.md
  docs/MIGRATION_v0_to_v1.md
Due: prettier --write

docs: add ORP101 Phase 4 completion report
  docs/ORP/ORP101 Phase 4 Completion Report.md
Due: prettier --write

docs: restore progress file and update CLAUDE.md
  .claude/implementation_progress.md
  CLAUDE.md
  apps/clip-composer/CHANGELOG.md
  apps/clip-composer/CMakeLists.txt
  docs/repo-commands.html.bak
Due: prettier --write

fix(ci): install libsndfile in CI to resolve linker errors
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add fallback stub for createAudioFileReader and fix Windows path
  docs/ORP/ORP097 SDK Transport - Fade Bug Fixes for OCC v020.md
  src/core/audio_io/CMakeLists.txt
  src/core/audio_io/create_audio_file_reader_stub.cpp
Due: prettier --write, clang-format -i

fix(audio_io): remove unsafe memset on AudioFileMetadata
  src/core/audio_io/audio_file_reader_libsndfile.cpp
Due: clang-format -i

fix(ci): resolve stub incomplete type and disable unimplemented WASAPI driver
  src/core/audio_io/create_audio_file_reader_stub.cpp
  src/platform/audio_drivers/CMakeLists.txt
Due: clang-format -i

fix(ci): use bash shell for CMake configuration on all platforms
  .github/workflows/ci-pipeline.yml
Due: prettier --write

fix(transport): add null check for audio file reader creation
  src/core/transport/transport_controller.cpp
Due: clang-format -i

fix(ci): add libsndfile installation to interim-ci.yml
  .github/workflows/interim-ci.yml
Due: prettier --write

fix(dsp): suppress Windows C4251 DLL warning for Oscillator class
  include/orpheus/dsp/oscillator.hpp
Due: clang-format -i

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clang-format -i: any of: *.{cpp,h,hpp}
