Repository chrislyons/orpheus-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clang-format -i

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{cpp,h,hpp}": ["clang-format -i"]
}

feat(clip-composer): add zoom commands and ephemeral audition highlight
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/PreviewPlayer.h
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
  apps/clip-composer/Source/UI/WaveformDisplay.h
  src/core/transport/transport_controller.cpp
Due: clang-format -i

fix(clip-composer): v0.2.1 UX fixes - loop fades, keyboard, pagination
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
  apps/clip-composer/Source/UI/WaveformDisplay.h
  apps/clip-composer/docs/OCC/OCC127 State Synchronization Architecture - Continuous Polling Pattern.md
  apps/clip-composer/docs/OCC/OCC128 Session Report - v0.2.1 UX Fixes (2025-01-13).md
  apps/clip-composer/docs/tmp/CCW-Prompt-OCC-Audit-and-Sprint-Planning.md
  src/core/transport/transport_controller.cpp
Due: prettier --write, clang-format -i

docs: Add ORP113 Documentation Alignment Audit
  docs/orp/ORP113 Documentation Alignment Audit - ORP and OCC Planning vs Execution Analysis.md
Due: prettier --write

docs(clip-composer): add OCC130 sprint plan and update project docs
  CLAUDE.md
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/docs/occ/OCC129 Lost CL Notes v021.md
  apps/clip-composer/docs/occ/OCC130 Sprint Plan - UX Refinements v021.md
Due: prettier --write

fix(transport): Clamp playhead position to trim OUT point for visual display
  src/core/transport/transport_controller.cpp
Due: clang-format -i

docs(occ): Add OCC131 Session Report - Playhead Bug Fix
  apps/clip-composer/docs/occ/OCC131 Session Report - Playhead Bug Fix (2025-01-14).md
Due: prettier --write

feat(clip-composer): implement OCC130 Sprint A + B UX refinements
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/HKGroteskLookAndFeel.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/TabSwitcher.cpp
  apps/clip-composer/Source/UI/TabSwitcher.h
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
Due: clang-format -i

fix(occ130): Fix heartbeat indicator pulse rate and alpha formula
  apps/clip-composer/Source/UI/TabSwitcher.cpp
Due: clang-format -i

fix(occ): restore rapid-fire clip button behavior with voice alternation
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/MainComponent.cpp
Due: clang-format -i

feat: OCC130 - v0.2.1 UX Polish Sprint (7 fixes)
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/TabSwitcher.cpp
  apps/clip-composer/docs/OCC/OCC129 Clip Button Rapid-Fire Behavior and Fade Distortion - Technical Reference.md
  apps/clip-composer/docs/OCC/OCC130 Session Report - v0.2.1 UX Polish Sprint (2025-01-14).md
  src/core/transport/transport_controller.cpp
Due: prettier --write, clang-format -i

docs: Add OCC131 Lost CL Notes v021
  apps/clip-composer/docs/OCC/OCC131 Lost CL Notes v021.md
Due: prettier --write

docs: Add OCC132 Gap Analysis - OCC131 Implementation Status
  apps/clip-composer/docs/OCC/OCC132 Gap Analysis - OCC131 Lost CL Notes Implementation Status.md
Due: prettier --write

Feature/occ130 sprint a b (#175)
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/HKGroteskLookAndFeel.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/TabSwitcher.cpp
  apps/clip-composer/Source/UI/TabSwitcher.h
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
  apps/clip-composer/docs/OCC/OCC129 Clip Button Rapid-Fire Behavior and Fade Distortion - Technical Reference.md
  apps/clip-composer/docs/OCC/OCC130 Session Report - v0.2.1 UX Polish Sprint (2025-01-14).md
  apps/clip-composer/docs/OCC/OCC131 Lost CL Notes v021.md
  apps/clip-composer/docs/OCC/OCC132 Gap Analysis - OCC131 Lost CL Notes Implementation Status.md
  src/core/transport/transport_controller.cpp
Due: prettier --write, clang-format -i

feat(occ): OCC135 - Comprehensive Sprint Report (12+ Features)
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.h
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/Main.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/Session/SessionManager.cpp
  apps/clip-composer/Source/Session/SessionManager.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/docs/OCC/OCC133 Critical CPU Fix - 75fps Timer Optimization.md
  apps/clip-composer/docs/OCC/OCC134 Session Report - CPU Fix and Playbox Navigation Implementation.md
  apps/clip-composer/docs/OCC/OCC135 Comprehensive Sprint Report - OCC132 Gap Analysis Implementation.md
  apps/clip-composer/docs/OCC/OCC135 Sprint Report - OCC132 Gap Analysis Implementation (Items 22, 26, 29).md
Due: prettier --write, clang-format -i

fix(occ): Fix two GitHub Copilot-identified bugs
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/Session/SessionManager.cpp
Due: clang-format -i

chore: Remove PR template from merge
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Feature/occ135 gap analysis (#176)
  .github/PULL_REQUEST_TEMPLATE.md
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.h
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/Main.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/Session/SessionManager.cpp
  apps/clip-composer/Source/Session/SessionManager.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/docs/OCC/OCC133 Critical CPU Fix - 75fps Timer Optimization.md
  apps/clip-composer/docs/OCC/OCC134 Session Report - CPU Fix and Playbox Navigation Implementation.md
  apps/clip-composer/docs/OCC/OCC135 Comprehensive Sprint Report - OCC132 Gap Analysis Implementation.md
  apps/clip-composer/docs/OCC/OCC135 Sprint Report - OCC132 Gap Analysis Implementation (Items 22, 26, 29).md
  apps/clip-composer/docs/occ/OCC094 Clip Edit Dialog Layout Reorganization.md
  apps/clip-composer/docs/occ/OCC095 ColorSwatchPicker Crash Fix (Double Ownership).md
  docs/orp/ORP068 Implementation Plan (v2.0).md
  docs/orp/archive/ORP065.md
Due: prettier --write, clang-format -i

fix: optimize Clip Composer frontend UX
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/TabSwitcher.cpp
Due: clang-format -i

feat: implement Tabler Icons for transport controls
  apps/clip-composer/Resources/icons/README.md
  apps/clip-composer/Resources/icons/transport/lucide/play.svg
  apps/clip-composer/Resources/icons/transport/lucide/repeat.svg
  apps/clip-composer/Resources/icons/transport/lucide/skip-back.svg
  apps/clip-composer/Resources/icons/transport/lucide/skip-forward.svg
  apps/clip-composer/Resources/icons/transport/lucide/square.svg
  apps/clip-composer/Resources/icons/transport/phosphor/play.svg
  apps/clip-composer/Resources/icons/transport/phosphor/repeat.svg
  apps/clip-composer/Resources/icons/transport/phosphor/skip-back.svg
  apps/clip-composer/Resources/icons/transport/phosphor/skip-forward.svg
  apps/clip-composer/Resources/icons/transport/phosphor/square.svg
  apps/clip-composer/Resources/icons/transport/tabler/player-play.svg
  apps/clip-composer/Resources/icons/transport/tabler/player-skip-back.svg
  apps/clip-composer/Resources/icons/transport/tabler/player-skip-forward.svg
  apps/clip-composer/Resources/icons/transport/tabler/repeat.svg
  apps/clip-composer/Resources/icons/transport/tabler/square.svg
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: prettier --write, clang-format -i

feat: enhance Clip Composer UX with refined icons and text styling
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: clang-format -i

docs: add investigation documentation for gain staging bug and v0.2.1 sprint
  apps/clip-composer/docs/OCC/OCC130A Session Report - v0.2.1 UX Polish Sprint (2025-01-14).md
  apps/clip-composer/docs/OCC/OCC130B Sprint Plan - UX Refinements v022.md
  apps/clip-composer/docs/OCC/OCC136 Loop Fade Regression Debug Session - INCOMPLETE.md
  apps/clip-composer/docs/OCC/OCC137 Critical Gain Staging Bug Investigation and Fix.md
  apps/clip-composer/docs/OCC/OCC138 Post-Fix Testing and Validation Plan.md
  docs/archive/CLAUDE.bak
  docs/orp/ORP114 Critical Gain Staging Bug Investigation and Fix.md
Due: prettier --write

fix: seamless loop crosspoints - remove hasLoopedOnce from fade-OUT condition
  src/core/transport/transport_controller.cpp
Due: clang-format -i

fix: prevent duplicate Start commands with atomic pending flags
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
Due: clang-format -i

docs: add OCC143 comprehensive analysis of loop fade and overmodulation fixes
  apps/clip-composer/docs/OCC/OCC143 Critical Fixes - Loop Fade and Overmodulation Race Condition.md
Due: prettier --write

docs: add comprehensive state synchronization architecture documentation
  docs/sync-architecture/01-system-overview.md
  docs/sync-architecture/02-polling-pattern.md
  docs/sync-architecture/03-multi-source-triggers.md
  docs/sync-architecture/04-correct-vs-incorrect.md
  docs/sync-architecture/05-component-interactions.md
  docs/sync-architecture/06-focus-management.md
  docs/sync-architecture/README.md
Due: prettier --write

style: refine text shadow spec for clip buttons
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

fix: rebuild SDK libraries explicitly in relaunch-occ.sh
  scripts/relaunch-occ.sh
Due: none

docs: add comprehensive modernization audit report
  docs/MODERNIZATION_AUDIT_2025.md
Due: prettier --write

docs: rename audit to ORP115 Modernization Audit
  docs/ORP115 Modernization Audit.md
Due: prettier --write

Adding ORP115 Modernization Audit doc (CCW) (#179)
  docs/ORP115 Modernization Audit.md
  docs/sync-architecture/01-system-overview.md
  docs/sync-architecture/02-polling-pattern.md
  docs/sync-architecture/03-multi-source-triggers.md
  docs/sync-architecture/04-correct-vs-incorrect.md
  docs/sync-architecture/05-component-interactions.md
  docs/sync-architecture/06-focus-management.md
  docs/sync-architecture/README.md
Due: prettier --write

Add ORP115 Modernization Audit doc (CCW) (#180)
  docs/ORP115 Modernization Audit.md
Due: prettier --write

docs: add ORP116 bloat remediation sprint plan
  docs/orp/ORP116 Bloat Remediation Sprint.md
Due: prettier --write

Code Bloat Audit (CCW) (#181)
  docs/orp/ORP116 Bloat Remediation Sprint.md
Due: prettier --write

docs(orp): add ORP115 comprehensive UX improvements audit report
  docs/orp/ORP115 UX Improvements Audit Report.md
Due: prettier --write

docs: verify and correct ORP116 Bloat Remediation Sprint
  docs/ORP115 Modernization Audit.md
  docs/orp/ORP116 Bloat Remediation Sprint.md
Due: prettier --write

chore: remove obsolete TypeScript tooling
  .eslintrc.cjs
  .lintstagedrc.json
  package.json
  patches/minimatch@9.0.5.patch
  pnpm-lock.yaml
Due: prettier --write
