Repository chrislyons/orpheus-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clang-format -i

docs: update ARCHITECTURE.md and ROADMAP.md for v1.0.0-rc.1
  ARCHITECTURE.md
  ROADMAP.md
Due: prettier --write

docs(orp): add ORP109 SDK Feature Roadmap for Clip Composer Integration
  docs/ORP/ORP109 SDK Feature Roadmap for Clip Composer Integration.md
Due: prettier --write

feat(sdk): implement ORP109 SDK features for Clip Composer integration
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  docs/API_SURFACE_INDEX.md
  docs/MIGRATION_v0_to_v1.md
  docs/ORP/INDEX.md
  docs/ORP/ORP110 ORP109 Implementation Report.md
  include/orpheus/audio_driver_manager.h
  include/orpheus/audio_file_reader_extended.h
  include/orpheus/clip_routing.h
  include/orpheus/performance_monitor.h
  include/orpheus/scene_manager.h
  include/orpheus/transport_controller.h
  src/CMakeLists.txt
  src/core/audio_io/CMakeLists.txt
  src/core/audio_io/waveform_processor.cpp
  src/core/common/performance_monitor.cpp
  src/core/routing/CMakeLists.txt
  src/core/routing/clip_routing.cpp
  src/core/routing/clip_routing.h
  src/core/session/scene_manager.cpp
  src/core/transport/transport_controller.cpp
  src/core/transport/transport_controller.h
  src/platform/audio_drivers/CMakeLists.txt
  src/platform/audio_drivers/driver_manager.cpp
  tests/CMakeLists.txt
  tests/audio_io/CMakeLists.txt
  tests/audio_io/device_hot_swap_test.cpp
  tests/audio_io/driver_manager_test.cpp
  tests/audio_io/waveform_processor_test.cpp
  tests/common/CMakeLists.txt
  tests/common/performance_integration_test.cpp
  tests/common/performance_monitor_test.cpp
  tests/routing/CMakeLists.txt
  tests/routing/clip_routing_test.cpp
  tests/routing/multi_channel_routing_test.cpp
  tests/session/CMakeLists.txt
  tests/session/scene_manager_test.cpp
  tests/transport/CMakeLists.txt
  tests/transport/clip_cue_points_test.cpp
Due: prettier --write, clang-format -i

style: apply lint-staged formatting fixes
  docs/tmp/ccw-fix-windows-libsndfile.md
  docs/tmp/ci-failure-summary-pr161.md
  tests/transport/clip_cue_points_test_simple.cpp
Due: prettier --write, clang-format -i

docs(occ): add OCC103 QA test spec and update OCC105 manual test log
  apps/clip-composer/docs/OCC/OCC103 QA v020 Tests.md
  apps/clip-composer/docs/OCC/OCC105 QA v020 Manual Test Log.md
Due: prettier --write

docs(occ): add OCC108 v0.2.1 parallel sprint plans
  apps/clip-composer/docs/OCC/OCC106 v021 Sprint A - CCW Cloud Tasks.md
  apps/clip-composer/docs/OCC/OCC107 v021 Sprint B - CLI Local Tasks.md
Due: prettier --write

perf(occ): optimize 75fps timer and button icon updates
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
Due: clang-format -i

fix(occ): critical multi-tab and edit dialog bugs
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

docs(occ): add OCC108 v0.2.1 sprint report
  apps/clip-composer/docs/OCC/OCC108 v021 Sprint Report.md
Due: prettier --write

fix(occ): critical multi-tab and edit dialog bugs (Sprint A)
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

perf(occ): optimize 75fps timer and button icon updates (Sprint B)
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/docs/OCC/OCC108 v021 Sprint Report.md
Due: prettier --write, clang-format -i

feat(occ): implement v0.2.2 features - Stop All limiter and performance monitoring
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/Transport/TransportControls.cpp
  apps/clip-composer/Source/Transport/TransportControls.h
  apps/clip-composer/docs/OCC/OCC109 v022 Sprint Report.md
  src/core/routing/routing_matrix.cpp
  src/core/transport/transport_controller.cpp
Due: prettier --write, clang-format -i

fix(sdk): resolve CI compilation failures in SDK core
  src/core/common/performance_monitor.cpp
  src/core/session/scene_manager.cpp
Due: clang-format -i

fix(sdk): resolve CI compilation failures in SDK core (#169)
  src/core/common/performance_monitor.cpp
  src/core/session/scene_manager.cpp
Due: clang-format -i

feat(occ): implement v0.2.2 features - Stop All limiter and performance monitoring (#168)
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/Transport/TransportControls.cpp
  apps/clip-composer/Source/Transport/TransportControls.h
  apps/clip-composer/docs/OCC/OCC109 v022 Sprint Report.md
  src/core/routing/routing_matrix.cpp
  src/core/transport/transport_controller.cpp
Due: prettier --write, clang-format -i

fix(occ): replace non-existent JUCE APIs with macOS mach APIs for memory monitoring
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/docs/OCC/OCC109 v022 Sprint Report.md
Due: prettier --write, clang-format -i

fix(occ): trim keys unconditionally restart playback from IN
  apps/clip-composer/Source/AudioEngine/AudioEngine.cpp
  apps/clip-composer/Source/AudioEngine/AudioEngine.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  include/orpheus/performance_monitor.h
  src/core/common/performance_monitor.cpp
  src/platform/audio_drivers/coreaudio/coreaudio_driver.cpp
  src/platform/audio_drivers/coreaudio/coreaudio_driver.h
Due: clang-format -i

fix(occ): comprehensive playhead and hotkey fixes
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  docs/ORP/ORP110 Performance Monitor API Completion Report.md
Due: prettier --write, clang-format -i

fix(occ): immediate playhead visual update and I/O key restart
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: clang-format -i

docs(sdk): complete ORP111 verification - transport state and loop features already implemented
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/PreviewPlayer.h
  apps/clip-composer/docs/OCC/OCC110 SDK Integration Guide - Transport State and Loop Features.md
  apps/clip-composer/docs/tmp/ORP110A App-Level Integration Report.md
  apps/clip-composer/docs/tmp/ORP112 SDK Transport Features Verification - ORP111 Complete.md
  docs/ORP/ORP110A App-Level Integration Report.md
  docs/ORP/ORP110B Performance Monitor API Completion Report.md
  docs/ORP/ORP111 SDK Transport Enhancement Request - Clip Composer Edit Dialog Support.md
  docs/ORP/ORP112 SDK Transport Features Verification - ORP111 Complete.md
Due: prettier --write, clang-format -i

docs(occ): comprehensive audit and sprint planning (OCC111, OCC112)
  apps/clip-composer/docs/OCC/OCC111 Gap Audit Report - v0.2.2 Missed Tasks and Technical Debt.md
  apps/clip-composer/docs/OCC/OCC112 Sprint Roadmap - Gap Closure and Forward Progress.md
Due: prettier --write

docs(occ): comprehensive audit and sprint planning (OCC111, OCC112) (#170)
  apps/clip-composer/docs/OCC/OCC111 Gap Audit Report - v0.2.2 Missed Tasks and Technical Debt.md
  apps/clip-composer/docs/OCC/OCC112 Sprint Roadmap - Gap Closure and Forward Progress.md
Due: prettier --write

feat(occ): remove duplicate AudioEngine and define MAX_CLIP_BUTTONS constant
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/AudioEngine/AudioEngine.cpp
  apps/clip-composer/Source/AudioEngine/AudioEngine.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/TabSwitcher.h
Due: clang-format -i

docs(occ): comprehensive audit and sprint planning corrections (OCC111, OCC112)
  apps/clip-composer/docs/OCC/OCC111 Gap Audit Report - v0.2.2 Missed Tasks and Technical Debt.md
  apps/clip-composer/docs/OCC/OCC112 Sprint Roadmap - Gap Closure and Forward Progress.md
Due: prettier --write

feat(occ): implement automated testing foundation (Sprint A4)
  .github/workflows/ci-pipeline.yml
  apps/clip-composer/CMakeLists.txt
  apps/clip-composer/docs/OCC/OCC113 Sprint A4 Report - Automated Testing Foundation.md
  apps/clip-composer/tests/CMakeLists.txt
  apps/clip-composer/tests/test_audio_engine_clips.cpp
  apps/clip-composer/tests/test_audio_engine_init.cpp
  apps/clip-composer/tests/test_audio_engine_multi_tab.cpp
  apps/clip-composer/tests/test_audio_engine_playback.cpp
  apps/clip-composer/tests/test_performance.cpp
  apps/clip-composer/tests/test_session_manager.cpp
Due: prettier --write, clang-format -i

docs(occ): add verbose titles to OCC094-OCC098 filenames
  apps/clip-composer/docs/OCC/OCC094 Clip Edit Dialog Layout Reorganization.md
  apps/clip-composer/docs/OCC/OCC095 ColorSwatchPicker Crash Fix (Double Ownership).md
  apps/clip-composer/docs/occ/OCC094 Clip Edit Dialog Layout Reorganization.md
  apps/clip-composer/docs/occ/OCC095 ColorSwatchPicker Crash Fix (Double Ownership).md
  apps/clip-composer/docs/occ/OCC096 SDK Integration Patterns.md
  apps/clip-composer/docs/occ/OCC097 Session Format and Loading.md
  apps/clip-composer/docs/occ/OCC098 UI Components Reference.md
Due: prettier --write

docs(occ): add verbose titles to OCC094-OCC098 filenames (#171)
  apps/clip-composer/docs/OCC/OCC094 Clip Edit Dialog Layout Reorganization.md
  apps/clip-composer/docs/OCC/OCC095 ColorSwatchPicker Crash Fix (Double Ownership).md
  apps/clip-composer/docs/occ/OCC094 Clip Edit Dialog Layout Reorganization.md
  apps/clip-composer/docs/occ/OCC095 ColorSwatchPicker Crash Fix (Double Ownership).md
  apps/clip-composer/docs/occ/OCC096 SDK Integration Patterns.md
  apps/clip-composer/docs/occ/OCC097 Session Format and Loading.md
  apps/clip-composer/docs/occ/OCC098 UI Components Reference.md
Due: prettier --write

Add files via upload
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 01 - File Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 02 - Setup Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 03 - Display Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 04 - Edit Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 05 - Search Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 06 - Global Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 07 - Options Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 08 - Info Menui.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 09 - Engineering Menu.pdf
  apps/clip-composer/docs/occ/peers/SpotOn Manual - 10 - Admin Menu.pdf
Due: none

docs(occ): add backend architecture sprint planning documents
  apps/clip-composer/docs/OCC/OCC114 Backend Infrastructure Audit - Current State.md
  apps/clip-composer/docs/OCC/OCC115 File Menu Backend Features - Sprint Plan.md
Due: prettier --write

docs(occ): add OCC116 Setup Menu backend features sprint plan
  apps/clip-composer/docs/OCC/OCC116 Setup Menu Backend Features - Sprint Plan.md
Due: prettier --write

docs(occ): add OCC117 Display and Edit Menu backend sprint plan
  apps/clip-composer/docs/OCC/OCC117 Display and Edit Menu Backend Features - Sprint Plan.md
Due: prettier --write

docs(occ): add backend sprint plans for Search, Global, Options, Info, Engineering, and Admin menus
  apps/clip-composer/docs/OCC/OCC118 Search Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC119 Global Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC120 Options Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC121 Info Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC122 Engineering Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC123 Admin Menu Backend Features - Sprint Plan.md
Due: prettier --write

Clip Composer Backend Sprint Plans (#172)
  apps/clip-composer/docs/OCC/OCC114 Backend Infrastructure Audit - Current State.md
  apps/clip-composer/docs/OCC/OCC115 File Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC116 Setup Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC117 Display and Edit Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC118 Search Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC119 Global Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC120 Options Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC121 Info Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC122 Engineering Menu Backend Features - Sprint Plan.md
  apps/clip-composer/docs/OCC/OCC123 Admin Menu Backend Features - Sprint Plan.md
Due: prettier --write

Add OCC124 Pending Features Glossary and Navigation Guide
  apps/clip-composer/docs/OCC/OCC124 Pending Features Glossary and Navigation Guide.md
Due: prettier --write

Add OCC124 Pending Features Glossary and Navigation Guide (#173)
  apps/clip-composer/docs/OCC/OCC124 Pending Features Glossary and Navigation Guide.md
Due: prettier --write

docs: add OCC125 feature analysis and OCC126 sprint recommendations
  apps/clip-composer/docs/OCC/OCC125 Backend Feature Analysis and Recommendations.md
  apps/clip-composer/docs/OCC/OCC126 Executive Summary - Sprint Recommendations.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clang-format -i: any of: *.{cpp,h,hpp}
