Repository chrislyons/orpheus-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clang-format -i

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{cpp,h,hpp}": ["clang-format -i"]
}

fix(occ): fix final Font() call in TransportControls
  apps/clip-composer/Source/Transport/TransportControls.cpp
  apps/clip-composer/launch.sh
Due: clang-format -i

fix(occ): complete Sprint 1 - broadcast-safe audio playback
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/docs/OCC/OCC043.md
  apps/clip-composer/docs/OCC/OCC044.md
Due: prettier --write, clang-format -i

feat(occ): complete Sprint 2 (Loop, Fade, Audio Settings)
  apps/clip-composer/CMakeLists.txt
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/Session/SessionManager.cpp
  apps/clip-composer/Source/UI/AudioSettingsDialog.cpp
  apps/clip-composer/Source/UI/AudioSettingsDialog.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
  apps/clip-composer/docs/OCC/OCC045.md
  tests/transport/CMakeLists.txt
  tests/transport/fade_processing_test.cpp
Due: prettier --write, clang-format -i

fix(tests): add orpheus_audio_io library link to transport tests
  tests/transport/CMakeLists.txt
Due: none

fix(transport): remove file I/O from audio callback + fix fade timing bug
  src/core/transport/transport_controller.cpp.backup
Due: none

fix(occ): resolve P0 blockers for v0.2.0 (OCC093 Sprint)
  .claude/DEBUG_REPORT.md
  .claude/SESSION_2025-10-12.md
  .claude/m2_implementation_progress.md
  .claude/session-notes.md
  apps/clip-composer/Source/AudioEngine/AudioEngine.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/docs/OCC/OCC093 v020 Sprint.md
  docs/MIGRATION_GUIDE.md
Due: prettier --write, clang-format -i

feat(occ): complete P1 UX fixes for v0.2.0 (OCC093 Sprint)
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
Due: clang-format -i

feat(occ): complete P2/P3 UX improvements (Issues #5, #11, #12)
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/InterLookAndFeel.h
Due: clang-format -i

feat(occ): implement latchable IN/OUT navigation (Issue #7 - P2)
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

feat(occ): complete Issue #10 - fade time shortcuts + tab switching + keyboard legend
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: clang-format -i

fix(occ+sdk): fix Tab/Enter keys, drag state, and fade distortion
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  src/core/transport/transport_controller.cpp
Due: clang-format -i

fix(occ+sdk): 75fps visual sync, latch acceleration, fade fixes
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

fix(occ+sdk): fix orphaned states + 75fps clip metadata tracking
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
Due: clang-format -i

fix(sdk): eliminate zigzag fade distortion by pre-computing gains
  src/core/transport/transport_controller.cpp
Due: clang-format -i

fix(sdk): disable routing matrix gain smoothing - causes zigzag distortion
  src/core/transport/transport_controller.cpp
Due: clang-format -i

fix(occ): add vertical margin between transport bar and time counter
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: clang-format -i

fix(occ): make [ ] keys restart playback like < > buttons
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: clang-format -i

fix(occ): eliminate transport spam - add seekClip() API
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
Due: clang-format -i

fix(occ): enforce OUT point edit law - jump to IN when OUT <= playhead
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

fix(occ): enforce trim point edit laws on Cmd+Click waveform
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
Due: clang-format -i

docs: update CLAUDE.md and add OCC093 sprint completion report
  CLAUDE.md
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/docs/OCC/OCC093 v020 Sprint - Completion Report.md
Due: prettier --write

docs: update root CLAUDE.md with v0.2.0 sprint status
  CLAUDE.md
Due: prettier --write

fix(occ): add acceleration to [ ] ; ' keyboard shortcuts and fix Shift modifier
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

fix(occ): fix Audio I/O Settings dialog button clipping and layout
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/AudioSettingsDialog.cpp
Due: clang-format -i

fix(occ): fix clip metadata persistence - fades, loop, and stop-others now persist
  apps/clip-composer/Source/MainComponent.cpp
Due: clang-format -i

fix(occ): complete Stop Others persistence through Edit Dialog
  apps/clip-composer/Source/MainComponent.cpp
Due: clang-format -i

feat(occ): v0.2.0 Sprint - Complete UX Fixes & Keyboard Navigation (12 Issues) (#116)
  .claude/DEBUG_REPORT.md
  .claude/SESSION_2025-10-12.md
  .claude/m2_implementation_progress.md
  .claude/session-notes.md
  CLAUDE.md
  apps/clip-composer/CLAUDE.md
  apps/clip-composer/Source/Audio/AudioEngine.cpp
  apps/clip-composer/Source/Audio/AudioEngine.h
  apps/clip-composer/Source/AudioEngine/AudioEngine.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.cpp
  apps/clip-composer/Source/ClipGrid/ClipGrid.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/AudioSettingsDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/InterLookAndFeel.h
  apps/clip-composer/Source/UI/PreviewPlayer.cpp
  apps/clip-composer/Source/UI/WaveformDisplay.cpp
  apps/clip-composer/docs/OCC/OCC093 v020 Sprint - Completion Report.md
  apps/clip-composer/docs/OCC/OCC093 v020 Sprint.md
  docs/MIGRATION_GUIDE.md
  src/core/transport/transport_controller.cpp
Due: prettier --write, clang-format -i

feat(occ): implement OCC094/OCC095 - Clip Edit redesign with Ableton color picker
  apps/clip-composer/CMakeLists.txt
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/ColorSwatchPicker.cpp
  apps/clip-composer/Source/UI/ColorSwatchPicker.h
  apps/clip-composer/docs/OCC/OCC094.md
  apps/clip-composer/docs/OCC/OCC095.md
Due: prettier --write, clang-format -i

fix(occ): complete UX polish for color picker and Edit Dialog
  .claude/skills/project/occ-quick-rebuild/execute.sh
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ColorSwatchPicker.cpp
  apps/clip-composer/Source/UI/ColorSwatchPicker.h
  apps/clip-composer/Source/UI/TabSwitcher.cpp
  apps/clip-composer/build-launch.sh
  apps/clip-composer/clean-relaunch.sh
  apps/clip-composer/depr.launch.sh
  docs/ORP/ORP095.md
  docs/ORP/ORP096.md
  src/core/audio_io/dummy_audio_driver.cpp
  src/platform/audio_drivers/coreaudio/coreaudio_driver.cpp
Due: prettier --write, clang-format -i

fix(occ): enhance color picker UX and clip button polish
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/UI/ColorSwatchPicker.cpp
  apps/clip-composer/Source/UI/ColorSwatchPicker.h
Due: clang-format -i

fix(occ): replace color palette with professionally curated spectrum
  apps/clip-composer/Source/UI/ColorSwatchPicker.cpp
Due: clang-format -i

fix(occ): lower text color brightness threshold for more white text
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

fix(occ): adjust text brightness threshold and increase playing border width
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

fix(occ): set text brightness threshold to 0.8 for better contrast
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
Due: clang-format -i

Occ v020 clip edit redesign (#120)
  .claude/skills/project/occ-quick-rebuild/execute.sh
  apps/clip-composer/CMakeLists.txt
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/MainComponent.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
  apps/clip-composer/Source/UI/ColorSwatchPicker.cpp
  apps/clip-composer/Source/UI/ColorSwatchPicker.h
  apps/clip-composer/Source/UI/TabSwitcher.cpp
  apps/clip-composer/build-launch.sh
  apps/clip-composer/clean-relaunch.sh
  apps/clip-composer/depr.launch.sh
  apps/clip-composer/docs/OCC/OCC094.md
  apps/clip-composer/docs/OCC/OCC095.md
  docs/ORP/ORP095.md
  docs/ORP/ORP096.md
  src/core/audio_io/dummy_audio_driver.cpp
  src/platform/audio_drivers/coreaudio/coreaudio_driver.cpp
Due: prettier --write, clang-format -i

feat(occ): v0.2.0 Sprint - Clip Edit & Button UI Improvements
  apps/clip-composer/Source/ClipGrid/ClipButton.cpp
  apps/clip-composer/Source/ClipGrid/ClipButton.h
  apps/clip-composer/Source/MainComponent.cpp
  apps/clip-composer/Source/Session/SessionManager.h
  apps/clip-composer/Source/UI/ClipEditDialog.cpp
  apps/clip-composer/Source/UI/ClipEditDialog.h
Due: clang-format -i

chore(docs): remove obsolete OCC documentation files
  apps/clip-composer/docs/OCC/OCC001 Cursor Agent Prompt v1.md
  apps/clip-composer/docs/OCC/OCC008 Cursor Agent Prompt v7.md
  apps/clip-composer/docs/OCC/OCC009 Session Metadata Manifest.md
  apps/clip-composer/docs/OCC/OCC010 Wireframes v1.md
  apps/clip-composer/docs/OCC/OCC011 Wireframes v2.md
  apps/clip-composer/docs/OCC/OCC012 Cursor Agent Prompt v8.md
  apps/clip-composer/docs/OCC/OCC013 Advanced Audio Driver Integration for a Professional Soundboard Application.md
  apps/clip-composer/docs/OCC/OCC014 Cursor Agent Prompt v9.md
  apps/clip-composer/docs/OCC/OCC015 Appendix_ Best Practices for Apple Silicon vs_ Intel Chips.md
  apps/clip-composer/docs/OCC/OCC016 Appendix_ Best Practices for Deploying on Windows Platforms.md
  apps/clip-composer/docs/OCC/OCC017 Security Best Practices for a Professional Soundboard Application.md
  apps/clip-composer/docs/OCC/OCC018 Cursor Rules v2_json.txt
  apps/clip-composer/docs/OCC/OCC019 Cursor Agent Prompt v10.md
  apps/clip-composer/docs/OCC/OCC021 Orpheus Clip Composer - Product Vision.md
  apps/clip-composer/docs/OCC/OCC022 Clip Metadata Schema v1.0.md
  apps/clip-composer/docs/OCC/OCC023 Component Architecture v1.0.md
  apps/clip-composer/docs/OCC/OCC024 User Interaction Flows v1.0.md
  apps/clip-composer/docs/OCC/OCC025 UI Framework Decision - JUCE vs Electron v1.0.md
  apps/clip-composer/docs/OCC/OCC026 Milestone 1 - MVP Definition v1.0.md
  apps/clip-composer/docs/OCC/OCC027.md
  apps/clip-composer/docs/OCC/OCC028 DSP Library Evaluation - Time-Stretch and Pitch-Shift v1.0.md
  apps/clip-composer/docs/OCC/OCC029.md
  apps/clip-composer/docs/OCC/OCC030.md
  apps/clip-composer/docs/OCC/OCC031.md
  apps/clip-composer/docs/OCC/OCC032.md
  apps/clip-composer/docs/OCC/OCC033.md
  apps/clip-composer/docs/OCC/OCC034.md
  apps/clip-composer/docs/OCC/OCC035.md
  apps/clip-composer/docs/OCC/OCC036.md
  apps/clip-composer/docs/OCC/OCC037.md
  apps/clip-composer/docs/OCC/OCC038.md
  apps/clip-composer/docs/OCC/OCC039.md
  apps/clip-composer/docs/OCC/SPRINT_SUMMARY_2025-10-12.md
  apps/clip-composer/docs/OCC/SPRINT_SUMMARY_FINAL_2025-10-12.md
  apps/clip-composer/docs/OCC/SPRINT_SUMMARY_SDK_ANALYSIS_2025-10-12.md
Due: prettier --write

docs(sdk): add ORP097 - SDK transport/fade bug fixes directive
  docs/ORP/ORP097.md
Due: prettier --write
